<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Контакты</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/myfile.css" rel="stylesheet"/>
    </head>

    <body>

        <h1 class="text-bg-success bg-opacity-50 p-3">Контакты</h1>

        <div class="text-light fs-4 p-4">
            Дата создания: {{creation_date}}
            <br>
            Разработчик: {{name}}
            <br>
            Телефон: {{phone}}
        </div>
        <ul class="nav nav-pills nav-fill fs-4">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/run/">Поиск</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results/">Результаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contacts/">Контакты</a>
            </li>
        </ul>

    </body>

</html>